[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = git@github.com:espressif/arduino-esp32.git
[submodule "components/tlv.arduino"]
	path = components/tlv.arduino
	url = git@github.com:Ace314159/tlv.arduino.git
[submodule "components/PN532-combined/PN532"]
	path = components/PN532-combined/PN532
	url = git@github.com:Ace314159/PN532.git
[submodule "components/PN532-combined/NDEF"]
	path = components/PN532-combined/NDEF
	url = git@github.com:Ace314159/NDEF.git
